* { padding: 0; margin: 0; }

html, .body{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.body > * {
  flex-shrink: 0;
}

.body {
  background: linear-gradient(to bottom, white 0px, white 150px, #cbeeee 650px, #cbeeee 100%);
  background-repeat:no-repeat;
  background-attachment: fixed;
  font-family: 'PT Sans Caption', sans-serif;
  
}

.button-primary {
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to bottom, #5ed9d9 0, #47c4c4 10%, darkcyan 90%, darkcyan 100%);
  width: 130px;
  margin-top: 10px;
  outline: none;
}
.button-primary:hover { 
  background: linear-gradient(to bottom, #5ed9d9 0, #47c4c4 10%, #47c4c4 100%);
}
.header {
  background:radial-gradient(darkcyan 0, darkcyan 25%, #47c4c4 100%);
  width: 100%;
  color: white;
  font-size: 40px;
  height: 150px;
  align-items: center;
  display:flex;
  justify-content: center;
  text-align: center;
}

.title {
  background: linear-gradient(to bottom, #5ed9d9 0, #47c4c4 10%, #47c4c4 90%, darkcyan 100%);
  width: 50%;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
}
.title:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, #5ed9d9 0, #47c4c4 10%, #47c4c4 100%);
}

.full-width {
  height: 30px;
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
  border-style: solid;
  border-color: darkcyan;
  outline: none;
}

.tweed-form {
  font-size: 20px;
  padding: 20px;
	width: 50%;
	margin: 0 auto;
}

.tweeds {
  border-style: solid;
  border-color: darkcyan;
  padding: 5px;
  background-color: white;
  color: black;
  width: 50%;
  margin: 0 auto;

}
.profile-photo {
  border-radius: 15px;
  border-style: solid;
  border-color: darkcyan;
  margin: 5px 5px 0px 5px;
  cursor: pointer;
}

.message {
  font-size: 20px;
  font-weight: bold;
}

.timestamp {
  color: darkgray;
}

.username:hover {
  text-decoration: underline;
  cursor: pointer;
}

div, .tweed-form {
  
  border-radius: 10px;
}

footer {
  width: 100%;
  color: white;
  font-size: 40px;
  height: 150px;
  align-items: center;
  display:flex;
  justify-content: center;
}

p {
  font-size: 20px;
}