.body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.button-primary {
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: darkcyan;
  width: 130px;
  margin-top: 10px;
}
.button-primary:hover { 
  background-color: #47c4c4;
}
.header {
  background:radial-gradient(darkcyan 0, darkcyan 25%, #47c4c4 100%);
  width: 100%;
  height:64px;
  color: white;
  font-size: 40px;
  height: 150px;
  align-items: center;
  display:flex;
  justify-content: center;
  text-align: center;
}

.title {
  background:linear-gradient(to bottom, #5ed9d9 0, #47c4c4 10%, #47c4c4 90%, darkcyan 100%);
  width: 50%;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
}

.full-width {
  height: 30px;
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
  border-style: solid;
  border-color: darkcyan;
}

.tweed-form {
  font-size: 20px;
  padding: 20px;
	width: 50%;
	margin: 0 auto;
}

.tweeds {
  border-style: solid;
  border-color: darkcyan;
  padding: 5px;
  background-color: white;
  color: black;
  width: 50%;
  margin: 0 auto;

}

.message {
  font-size: 20px;
  font-weight: bold;
}

.timestamp {
  color: darkgray;
}

.username:hover {
  text-decoration: underline;
}

main {
background:linear-gradient(to bottom, white 0, #cbeeee 15%, #cbeeee 100%);;
}


div, .tweed-form {
  
  border-radius: 10px;
}